.miBtn {
    background-color: #f7107c;
    color: #000000;
    border: none;
    border-radius: 5px;
    color: rgb(2, 1, 1);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    
}

.contador {
  text-align: center;
}

  .miBtn:hover {
    background-color: #a10814;
  }